node_modules
dist
.env
.env.local
.env.*.local
.env.development
.env.production
apps/mobile/.env*
*.log
.DS_Store
coverage
.nyc_output
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.tsbuildinfo
.turbo
.vercel
.netlify
.amplify
build
.cache
uploads
*.sqlite
scripts/ar-*-update.json
